[Unit]
Description=3D scanner client
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/python /home/pi/3DScanner/firmware/client/Client.py
Restart=always
RestartSec=1
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=3DScanner

[Install]
WantedBy=multi-user.target
